src/main/app/devops.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <apikit:config name="devops-config" raml="devops.raml" consoleEnabled="false" doc:name="Router"/>
    
    <flow name="devops-main">
        <http:listener config-ref="http_listener" path="/api/devops/*" doc:name="HTTP"/>
        <set-session-variable variableName="correlationId" value="#[message.id]" doc:name="Set Correlation ID" />
        <flow-ref name="set-base-logger" doc:name="Set Base Logger"/>
        <apikit:router config-ref="devops-config" doc:name="APIkit Router"/>
        <exception-strategy ref="exception-handler" doc:name="Reference Exception Strategy"/>
    </flow>
    
</mule>
