src/main/app/devops-hybrid.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
        
    <flow name="get:/servers/hybrid/v1:devops-config">
        <logger level="INFO" message="#[sessionVars.baseLogger] Request: #[payload]" doc:name="Log Request"/>
        <set-session-variable variableName="env" value="#[message.inboundProperties.'http.query.params'.env]" doc:name="Set Environment Name" />
        <flow-ref name="get-hybrid-servers-response" doc:name="Get Hybrid Servers Response"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Set Content Type" />
        <logger level="INFO" message="#[sessionVars.baseLogger] Response: #[payload]" doc:name="Log Response"/>
        <exception-strategy ref="exception-handler" doc:name="Reference Exception Strategy"/>
    </flow>
    
    <flow name="get:/clusters/hybrid/v1:devops-config">
        <logger level="INFO" message="#[sessionVars.baseLogger] Request: #[payload]" doc:name="Log Request"/>
        <set-session-variable variableName="env" value="#[message.inboundProperties.'http.query.params'.env]" doc:name="Set Environment Name" />
        <flow-ref name="get-hybrid-clusters-response" doc:name="Get Hybrid Clusters Response"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Set Content Type" />
        <logger level="INFO" message="#[sessionVars.baseLogger] Response: #[payload]" doc:name="Log Response"/>
        <exception-strategy ref="exception-handler" doc:name="Reference Exception Strategy"/>
    </flow>
    
    <flow name="get:/serverGroups/hybrid/v1:devops-config">
        <logger level="INFO" message="#[sessionVars.baseLogger] Request: #[payload]" doc:name="Log Request"/>
        <set-session-variable variableName="env" value="#[message.inboundProperties.'http.query.params'.env]" doc:name="Set Environment Name" />
        <flow-ref name="get-server-groups-response" doc:name="Get Hybrid Server Groups Response"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Set Content Type" />
        <logger level="INFO" message="#[sessionVars.baseLogger] Response: #[payload]" doc:name="Log Response"/>
        <exception-strategy ref="exception-handler" doc:name="Reference Exception Strategy"/>
    </flow>
    
    <flow name="get:/applications/hybrid/v1:devops-config">
        <logger level="INFO" message="#[sessionVars.baseLogger] Request: #[payload]" doc:name="Log Request"/>
        <set-session-variable variableName="env" value="#[message.inboundProperties.'http.query.params'.env]" doc:name="Set Environment Name" />
        <flow-ref name="get-hybrid-applications-response" doc:name="Get Hybrid Applications Response"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Set Content Type" />
        <logger level="INFO" message="#[sessionVars.baseLogger] Response: #[payload]" doc:name="Log Response"/>
        <exception-strategy ref="exception-handler" doc:name="Reference Exception Strategy"/>
    </flow>
    
    <flow name="post:/deploy/hybrid/v1:devops-config">
    	<enricher target="#[variable:payloadMap]" doc:name="Set Payload as Map">
    		<processor-chain doc:name="Processor Chain">
    			<object-to-string-transformer doc:name="Convert Payload to String"/>
                <json:json-to-object-transformer returnClass="java.util.Map" doc:name="Convert to Map"/>
    		</processor-chain>
    	</enricher>
        
        <logger level="INFO" message="#[sessionVars.baseLogger] Request: #[payload]" doc:name="Log Request"/>
        <set-session-variable variableName="env" value="#[message.inboundProperties.'http.query.params'.env]" doc:name="Set Environment Name" />
        <set-session-variable variableName="targetType" value="#[flowVars.payloadMap.targetType]" doc:name="Set Target Type" />
        <set-session-variable variableName="targetName" value="#[flowVars.payloadMap.targetName]" doc:name="Set Target Name" />
        <set-session-variable variableName="artifactName" value="#[flowVars.payloadMap.artifactId]" doc:name="Set Artifact Name" />
        <set-session-variable variableName="file" value="#[flowVars.payloadMap.file]" doc:name="Set File" />
        <set-session-variable variableName="filename" value="#[FilenameUtils.getName(sessionVars.file)]" doc:name="Set Filename" />
        
        <flow-ref name="deploy-hybrid-application" doc:name="Deploy Hybrid Application"/>
        <set-property propertyName="Content-Type" value="application/json" doc:name="Set Content Type" />
        <logger level="INFO" message="#[sessionVars.baseLogger] Response: #[payload]" doc:name="Log Response"/>
        <exception-strategy ref="exception-handler" doc:name="Reference Exception Strategy"/>
    </flow>
    
</mule>
